<div class="pull-right">
    <a href="{{ path('app_enquete_admin_index') }}" class="btn btn-s-md btn-default" data-message="Cadastro realizado com sucesso.">
        <i class="fa fa-save"></i> Voltar
    </a>

    <button type="submit" class="btn btn-s-md btn-success" data-message="Cadastro realizado com sucesso."
            ng-disabled="formulario.$invalid">
        <i class="fa fa-save"></i> Salvar
    </button>
</div>