<div class="pull-right">
    <button type="submit" class="btn btn-s-md btn-success" data-toastr="success"
            data-message="Cadastro realizado com sucesso."><i class="fa fa-save"></i> Salvar
    </button>
</div>