<div class="pull-right">
    <a href="{{ path('app_enquete_admin_create') }}" class="btn btn-s-md btn-success" data-message="Cadastro realizado com sucesso.">
        <i class="fa fa-save"></i> Novo
    </a>
</div>