<!-- Modal -->
<div class="modal fade" id="relatorio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">[[tituloEnquete]]</h4>
            </div>
            <div class="modal-body">

                <div class="row" ng-repeat="(key, por) in porcentagem" ng-if="porcentagem != ''">
                    <div class="col-md-2">[[key]]</div>
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="[[por]]" aria-valuemin="0"
                                 aria-valuemax="100" ng-style="{width:(por + '%')}">
                                [[por|number]]%
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="porcentagem == ''">
                    <div class="col-md-12">Nenhum voto para esta enquete</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>