<nav class="nav-primary hidden-xs" role="navigation">
    <div class="col-lg-2 col-sm-3 col-md-2 sidebar">
        {% raw %}
        <ul class="nav nav-sidebar">
            <li>
                <a class="auto" ng-href="#/rest">
                    Início
                </a>
            </li>
            <li>
                <a class="auto" ng-href="#/contato">
                    Contato
                </a>
            </li>
        </ul>
        {% endraw %}
    </div>
</nav>