<nav class="nav-primary hidden-xs" role="navigation">
    <div class="col-lg-2 col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a class="auto" href="{{ path('app_enquete_enquete_index') }}">
                    Enquete
                </a>
            </li>
            <li>
                <a class="auto" href="{{ path('app_enquete_admin_index') }}">
                    Admin
                </a>
            </li>
        </ul>
    </div>
</nav>