{% extends '::base.html.twig' %}

{% block body %}
<div class="row" ng-controller="AdminCreateController">
    <div class="col-sm-9 col-md-10 col-lg-10 pull-right">

        <form class="form-horizontal" role="form" novalidate name="formulario" ng-submit="submeter()">

            <section class="panel panel-default" role="region">
                <header class="panel-heading">
                    {% include 'EnqueteBundle:Admin/partials:btn.html.twig' %}
                    <h4>Cadastrar Enquete</h4>
                </header>
                <article class="panel-body">
                    <div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="login-ldap">Enquete<span
                                        class="text-danger">*</span></label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="enquete.titulo"
                                           ng-maxlength="50"
                                           required name="enquete" value="">
                                </div>
                                    <span ng-show="formulario.$submitted && formulario.enquete.$error.required"
                                          class="form-control alert-danger">
                                        Título obrigatório
                                    </span>
                                    <span ng-show="formulario.$submitted && formulario.enquete.$error.maxlength"
                                          class="form-control alert-danger">
                                        No máximo 50 caracteres!
                                    </span>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="login-ldap">Pergunta<span
                                        class="text-danger">*</span></label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="enquete.pergunta"
                                           ng-maxlength="100" name="pergunta" value="" required>
                                </div>
                                    <span ng-show="formulario.$submitted && formulario.pergunta.$error.required"
                                          class="form-control alert-danger">
                                        Título obrigatório
                                    </span>
                                    <span ng-show="formulario.$submitted && formulario.pergunta.$error.maxlength"
                                          class="form-control alert-danger">
                                        No máximo 100 caracteres!
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required"></label>
                        <div class="col-sm-10">

                            <input type="button" ng-click="addResposta()" class="btn btn-s-md btn-success"
                                   value="Adicionar Resposta">

                            <div ng-repeat='item in itens'>
                                <label class="col-sm-0 control-label required">
                                    Resposta [[$index]] -
                                </label>
                                <input name='item-[[$index]]' id='item-[[$index]]' class='input-[[$index]]'/>
                            </div>


                            {#<div class="radio radio-inline">#}
                            {#<label>#}
                            {#<input type="radio" value="A" name="stUsuario" tipoAcao="A"#}
                            {#data-message="Confirma a ativação do registro?"><i></i>#}
                            {#Ativo#}
                            {#</label>#}

                            {#<p class="help-block m-n" id="parsley-id-multiple-statusitens"></p>#}
                            {#</div>#}

                            {#<div class="radio radio-inline">#}
                            {#<label>#}
                            {#<input type="radio" value="A" name="stUsuario" tipoAcao="A"#}
                            {#data-message="Confirma a ativação do registro?"><i></i>#}
                            {#Ativo#}
                            {#</label>#}

                            {#<p class="help-block m-n" id="parsley-id-multiple-statusitens"></p>#}
                            {#</div>#}
                        </div>
                    </div>

                </article>
                <footer class="panel-footer clearfix">
                    {% include 'EnqueteBundle:Admin/partials:btn.html.twig' %}
                </footer>
            </section>
        </form>
    </div>
</div>
{% endblock %}
