{% extends '::base.html.twig' %}

{% block body %}
    <div class="row" ng-controller="AdminIndexController">
        <div class="col-sm-9 col-md-10 col-lg-10 pull-right">

            <form id="entityForm" class="form-horizontal" action="#" method="POST" role="form" novalidate="">

                <section class="panel panel-default" role="region">
                    <header class="panel-heading">
                        {% include 'EnqueteBundle:Admin/partials:btnIndex.html.twig' %}
                        <h4>Cadastrar Enquete</h4>
                    </header>
                    <article class="panel-body">
                        <div class="col-sm-3 col-md-4 col-lg-4 pull-left">
                            <input class="form-control" placeholder="filtrar enquete"
                                   ng-model="filtro" ng-model-options="{ debounce: 500 }">
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo Enquete</th>
                                <th width="150">Ação</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="dado in dados | filter: filtro">
                            <tr>
                                <th scope="row">[[$index]]</th>
                                <td>[[ dado.nomeEnquete ]]</td>
                                <td>
                                    {# todo tirar app_dev #}
                                    <a ng-href="/app_dev.php/admin/edit/#/?id=[[dado.id]]"
                                       class="btn btn-default btn-sm m-r-xs"
                                       data-toggle="tooltip"
                                       data-placement="top" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm m-r-xs" data-toggle="modal"
                                       ng-click="relatorio(dado)"
                                       data-placement="top" title="Gerar relatório" data-target="#relatorio">
                                        <i class="fa fa-tasks"></i>
                                    </a>
                                    <a ng-click="deletar(dado)" class="btn btn-danger btn-sm m-r-xs"
                                       data-toggle="tooltip"
                                       data-placement="top" title="Deletar">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </article>
                    <footer class="panel-footer clearfix">
                        {% include 'EnqueteBundle:Admin/partials:btnIndex.html.twig' %}
                    </footer>
                </section>
            </form>
        </div>
        {% include 'EnqueteBundle:Admin/partials:modal.html.twig' %}
    </div>

{% endblock %}